.baseGrid {
  background-image: url('../media/images/bg-image-quizmas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 88.5vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}
